@import "variables";
  // ==========================================================================
  //   >>> Buttons
  //   ==========================================================================

  //   # Buttons styles 

button {
	background-color: transparent;
	border: 0;

	&:focus {
		outline: none;
	}
}