@import "variables";
  // ==========================================================================
  //   >>> Buttons
  //   ==========================================================================

  //   # Buttons styles 

button {
	background-color: transparent;
	border: 0;

	&:focus {
		outline: none;
	}
}

.btn {
	color: #000;
	margin-top: 49px;
	font-size: 2rem;
	padding: 5px 61px;
  border: 1px solid #000;

  &:hover {
  	background-color: $brand-default;
  	color: #fff;
  	border: 2px solid $brand-default-dark;
  }
}