@import "variables";
  // ==========================================================================
  //   >>> Buttons
  //   ==========================================================================

  //   # Buttons styles 

button {
	background-color: transparent;
	border: 0;

	&:focus {
		outline: none;
	}
}

.btn {
	color: $text-color;
  display: block;
  font-size: 2rem;
  padding: 10px 21px;
  width: 200px;
  margin: 30px auto 0;
  border: 1px solid $gray-dark;
  color: $text-color;

  &:hover {
  	background-color: $brand-default;
  	color: #fff;
  	border: 1px solid $brand-default;
  }
}