@import "mixins";
@import "variables";

 // ==========================================================================
 //    >>> Head
 //    ==========================================================================

 //    # Header styles 


// Menu

#toggle {
	color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0rem;
  pointer-events: auto;
  position: fixed;
  right: 2.5em;
  top: 10px;
  transition: color .4s;
  z-index: 1010;


  > span {
  	display: none;
  }
}

.toggle-bt {
  cursor: pointer;
  height: 50px;
  padding: 0px;
  transition: .3s;
  user-select: none;
}

.ln-white {
	&:before, &:after {
		background-color: #000 !important;
	}
}

.lines {
	display: inline-block;
  height: 4px;
  position: relative;
  transition: 0.3s;
  width: 45px;

  &:before, &:after {
  	background-color: rgba(255, 255, 255, 0.79);
  	content: '';
	  display: inline-block;
	  height: 4px;
	  left: 0;
	  width: 45px;
	  position: absolute;
	  transition: 0.3s;
	  transform-origin: 0.14286rem center;
	  top: 2px;
	}
}

.lines:after {
  top: -8px;
}

.lines-after {
	&:after {
		background: #fff;
		left: 5px;
		transform: rotate3d(0, 0, 1, -45deg);
		top: 13px;
	}
}

.lines-before {
	&:before {
		background: #fff;
		transform: rotate3d(0, 0, 1, 45deg);
		top: -16px;
  	left: 6px;
	}
}

.open {
	transform: translateX(0) !important;
}

#menu {
	background-color: rgba(0, 0, 0, 0.89);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(-100%);
	transition: transform 0.4s 0s, box-shadow 0s 0.4s;
	z-index: 1000;
}

.menu-list {
	margin-top: 31px;
	text-align: center;

	.menu-item {
		a {
			color: $brand-tertiary;
			display: block;
			font-size: 4.8rem;
			font-weight: bold;
			letter-spacing: 0.5rem;
			padding: 10px 40px;
			text-decoration: none;
			width: 100%;

			&:hover {
				background-color: rgba(255, 255, 255, 0.15);
				color: $brand-default;
			}
		}
	}
}

// Top Header

.top-header {
	font-family: $font-family;
	color: rgba(26, 178, 199, 0.49);
	height: 100vh;
	font-size: 5rem;
	text-align: center;
	text-transform: uppercase;
}

.main-title {
 	font-size: 4.8rem;
  font-weight: 700;
  margin: 0;
  position: relative;
}

.main-subtitle {
	color: rgba(255, 255, 255, 0.6);
	display: block;
  font-weight: 400;
  font-size: 3.8rem;
  line-height: 20px;
  text-transform: uppercase;
}

.main-sub-subtitle {
	display: block;
  font-size: 3rem;
  width: 520px;
  color: rgba(131, 129, 129, 0.81);
  text-transform: none;
  font-size: 2rem;
  margin: 40px auto;
  font-size: 1.8rem;
  width: 310px;
}

#canvas {
	width: 80%;
  height: auto;
}

// ================================
// Responsive
// ================================

@media only screen and (max-device-width : 480px) {

}

@media (max-width: $screen-xs-min) {

}

// Tablet

@media (min-width: $screen-sm-min) {

	// Menu

	.menu-list {
	  margin-top: 271px;
	  text-align: center;
	}

	// Top Header

	.main-title {
		font-size: 10.8rem;
	}

	.main-subtitle {
		font-size: 6.5rem;
	}

	.main-sub-subtitle {
		font-size: 2.8rem;
  	width: 500px;
	}
}


// Desktop

@media (min-width: $screen-md-min) {

	// Menu

 .menu-list {
 	margin-top: 31px;

	.menu-item {
		a {
			font-size: 10rem;
			text-align: left;
			letter-spacing: 0.7rem;
		}
	}
}

// Top Header

.main-title {
	font-size: 17.5rem;
}

.main-subtitle {
  	font-size: 11.1rem;
  	margin-bottom: 57px;
  }
}


// Desktop - Large monitors

@media (min-width: $screen-lg-min) {
	.menu-list {
	  margin-top: 90px;
	}

	.menu-list .menu-item a {
	  padding: 20px 40px;
	}
}