@import "mixins";
@import "variables";

// ==========================================================================
//      >>> Helper Classes
//      ==========================================================================

//      # Description


// Full width
.full-width {
  width: 100%;
}


// Float
.fl-left  { float: left;  }
.fl-right { float: right; }
.fl-none  { float: none;  }

// Clearfix
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
   display: inline-block;
}

html[xmlns] .clearfix {
   display: block;
}

* html .clearfix {
   height: 1%;
}

.hide { display: none; }

.visible { display: block !important }

// Lists
.list-syle-none li { list-style: none; }

// Centralize
.center-block {
   float: none;
   margin-left: auto !important;
   margin-right: auto !important;
}


// Display
.block { display: block; }

// Menu active
.active {
  position: relative;
  
  &:after {
    background-color: $brand-tertiary;
    content: '';
    height: 2px;
    position: absolute;
    bottom: 0;
    width: 66px;
    left: 44px;
    display: none;
  }
}

// Title


.title {
  text-align: center;
  font-size: 3.3rem;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  width: 211px;
  margin: 40px auto 0;
  margin: 80px auto;
  position: relative;

  &:after {
    content: '';
    display: block;
    height: 3px;
    width: 85px;
    background-color: #1AB2C7;
    position: absolute;
    left: 0;
  }
}

.main-text {
  font-size: 2rem;
  width: 323px;
  margin: 53px auto;
  line-height: 34px;
  text-align: center;
}



// Center content

.v-center {
  @include vertical-align;
}

// Tablet

@media (min-width: $screen-sm-min) {
  
  .title {
    width: 208px;
    margin: 100px auto 0;

    &:after {
      content: '';
      display: block;
      height: 6px;
      width: 85px;
      background-color: #1AB2C7;
      position: absolute;
      left: 0;
    }
  }

  .main-text {
    font-size: 2rem;
    text-align: center;
    width: 680px;
    margin: 80px auto;
  }

}


// Desktop

@media (min-width: $screen-md-min) {
  .title {
    font-size: 5rem;
    width: 313px;
    margin: 100px auto;
    

    &:after {
      height: 6px;
      width: 100px;
      left: 0;
    }
  }

  .main-text {
    font-size: 2.2rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  // Menu active
  .active {
    position: relative;
    
    &:after {
      display: block;
    }
  }

}


// Desktop - Large monitors

@media (min-width: $screen-lg-min) {

  .title {
    &:after {
      height: 6px;
      width: 100px;
      left: 0;
    }
  }
}

