// ================================
// Responsive
// ================================

@media only screen and (max-device-width : 480px) {

}

@media (max-width: $screen-xs-min) {

}

// Tablet

@media (min-width: $screen-sm-min) {
  #linesWrapper {
  	height: 100vh;
	}
	
	// Section comments

	#comments {
		// height: 80vh;
		padding: 0;
		background-color: #F1F0F1;
		overflow: hidden;
		// margin-top: -11px;

		img {
			width: 85%;
		}

		blockquote {
			font-size: 3.1rem;
			padding: 57px 0;

			p {
				margin-left: 55px;
  				// width: 490px;
			}

			footer {
				color: rgba(0, 0, 0, 0.28);
				font-size: 2.3rem;
  				margin-left: 58px;
				margin-top: 30px;
			}
		}
	}

	.icon-quote-open, .icon-quote-close {
		font-size: 3rem;
	}

	.triangles-wrap {
		// margin-top: 49px;
  		height: 448px;

		canvas {
			width: 530px!important;
		  height: 297px!important;
		  margin-top: 73px!important;
		}
	}

	.icon-quote-open, .icon-quote-close {
		font-size: 4rem;
	}

}


// Desktop

@media (min-width: $screen-md-min) {

	// Section comments

 	.triangles-wrap {
	  // margin-top: 100px;
	  height: 518px;

	  canvas {
	  	width: 611px!important;
		  height: 342px!important;
		  margin-top: 85px!important;
		  text-align: center;
		  margin-left: -2px;
		}
	}

	// Section services

	.services-block span {
	  font-size: 15rem;
	  margin-top: 95px;
	}

	// Cube

	.face {
	    span {
	  		font-size: 10rem;
	    }
	}

	#comments {
		blockquote {
			font-size: 3.1rem;
			max-width: 618px;
	  	padding: 57px 0px;
		}
	}
	.tablet-container {
	  margin-top: 120px;
	  margin-bottom: 120px;
	}

	.quote-wrapper {
	  margin-top: 216px;
	}

	.icon-quote-close {
		margin-right: 20px;
	}
}


// Desktop - Large monitors

@media (min-width: $screen-lg-min) {
  // Section services
  .box-scene {
	  height: 350px;
	}

  // Section comments

  .triangles-wrap {
	  // margin-top: 100px;
	  height: 520px;

	  canvas {
			width: 630px!important;
		  height: 354px!important;
		  margin-top: 84px!important;
			text-align: center;
		}
	}

	
}