 // ==========================================================================
 //    >>> style.css
 //    ==========================================================================

 //    # Global Stiles 

ul {
	list-style: none;
}

// Section iphone

.triangles-wrap {
	width: 1102px;
	height: 1873px;
	background-image: url('../img/iphone.png');
}




