// ==========================================================================
//     >>> typography.css
//     ==========================================================================

//     # Description
    
// Font styles

body {
  font-family: $font-family;
  font-size:  1.4rem;
  color: $text-color;
}